





  <nb-card>
    <nb-card-header>Transfiere Tokens  </nb-card-header>
    <nb-card-body>
        <b>
            Premia a un amigo

        </b>
      <div class="buttons-row">
        40.000 Tokens
      </div>

      <br>
      <b>
        Invita a un amigo

    </b>
    <br><br>
      <button nbButton  status="primary" hero>
        Invita
      </button>
    
    </nb-card-body>
  </nb-card>


  <br>
<div id="images">
  
    <img src="assets/images/img_tipcoin_01.png" class="logoleft" alt="" width="40%">
  
</div>
