
.logoleft_old {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    padding-left: 50px;
    

}

.logoleft {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

#images{
    text-align:center;
}