






  <nb-card>
    <nb-card-header>Transfiere Tokens  </nb-card-header>
    <nb-card-body>
        <b>
            Premia a un amigo

        </b>
      <div class="buttons-row">
        Saldo: 40.000 Tokens   <br>
        Para Invertir: 20%   <br>
        Perfil: Riesgo Medio
      </div>

    
    
    <br><br>

    <button nbButton  status="primary" hero>
        Invierte! 
      </button>
    
    
    
    
    </nb-card-body>
  </nb-card>
















<br><br>



<div id="images">
  
    <img src="assets/images/img_tipcoin_01.png" class="" alt="" width="40%">
  
</div>
