
<nb-card>
  <nb-card-body>
    <nb-actions size="medium" fullWidth>

      <nb-action  (click)="gotoCrece()">
        <nb-icon class="action-icon" icon="activity-outline"></nb-icon>
        <span>{{ txt_crece }}</span>
      </nb-action>

      <nb-action  (click)="gotoCuida()">
        <nb-icon class="action-icon" icon="search-outline"></nb-icon>
        <span>{{ txt_cuida }}</span>
      </nb-action>

    </nb-actions>

  </nb-card-body>
</nb-card>  




<div id="images">
  
  <img src="assets/images/rol_crece_01.png" class="fblogo" (click)="gotoCrece()" alt="" width="50%">
  <img src="assets/images/rol_cuida_01.png" class="fblogo" (click)="gotoCuida()"alt="" width="50%">

</div>

<br><br> 


<nb-card>
  <nb-card-header>Conecta! </nb-card-header>
  <nb-card-body>
    <div class="buttons-row">
      <button nbButton (click)="gotoAuth()"  status="primary" hero>
        Login
      </button>
      <div class="registra">
        Todavía no sos cliente? <u><a  (click)="gotoRegister()" >Registrate!</a></u>
      </div> 
    </div>
  </nb-card-body>
</nb-card>


<br>
<!-- FinnApp v1.0 -->
<!-- 
  Pacakge
https://akveo.github.io/eva-icons/#/ 
-->
