

<nb-card>
    <nb-card-header>Saldo de tus Tokens </nb-card-header>
    <nb-card-body>
      <div class="buttons-row">
        40.000 Tokens
      </div>
    </nb-card-body>
  </nb-card>

  <!-- <nb-card>
    <nb-card-header>Simulación Invertidos</nb-card-header>
    <nb-card-body>
      <div class="buttons-row">
        12.000 Tokens
      </div>
      <div class="buttons-row">
        Resultado: +15%
      </div>
    </nb-card-body>
  </nb-card> -->


<div id="images">
  
    <img src="assets/images/img_tipcoin_01.png" class="logoleft" alt="" width="40%">
  
</div>
