
<div id="images">
  
    <img src="assets/images/rol_crece_02.png" class="logoleft" alt="" width="80%">
  
</div>




<nb-card>
    <nb-card-header>Simulacion de Inversión </nb-card-header>
    <nb-card-body>
      <div class="buttons-row">
        Aprenderemos como invertir, a partir de tu saldo en Tokens <br>
        40.000 Tokens

      </div>

      
    <br><br>

    <button nbButton  status="primary" hero>
        Comencemos! 
      </button>
    
    
    </nb-card-body>
  </nb-card>





<br><br>



<div id="images">
  
    <img src="assets/images/img_tipcoin_01.png" class="" alt="" width="40%">
  
</div>
